body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 1rem;
  }

  .pie-container{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .arrow-right{
    font-size: 2rem;
  }

  .piechart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    background-image: conic-gradient(
        pink 0 72deg,
        lightblue 72deg 144deg,
        orange 144deg 216deg,
        red 216deg 288deg,
        yellow 288deg
    );
    color: whitesmoke;
}
.piechart h1{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
}
.piechart h1:first-child{
    top: 1rem;
    left: 8rem;
}
.piechart h1:nth-child(2){
    top: 5rem;
    left: 10rem;
}
.piechart h1:nth-child(3){
    top: 8rem;
    left: 6rem;
}
.piechart h1:nth-child(4){
    top: 5rem;
    left: 2rem;
}
.piechart h1:nth-child(5){
    top: 1rem;
    left: 2.5rem;
}
button{
    width: 5rem;
    height: 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 2rem;
}